@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al sistema de solicitudes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://th.bing.com/th/id/OIP.S9ngTRGLKa242HVbfvigHgHaEK?w=285&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7" />
</div>
